[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
torch = {file = "https://download.pytorch.org/whl/cu102/torch-1.7.0-cp38-cp38-win_amd64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cu102/torchvision-0.8.1-cp38-cp38-win_amd64.whl"}

[requires]
python_version = "3.8"
